---
import Layout from '../layouts/Layout.astro';
import { TypingEngine } from '../features/typing/TypingEngine';
---

<Layout title="Practice | TypeForge">
  <div class="py-12">
    <TypingEngine client:load />
  </div>
</Layout>
